body, html, form {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

.bottom
{
    padding-bottom: 100px;
}

.m-bottom
{
    margin-bottom: 100px;
}

.bg-owl {
    background-color: #8c2132 !important;
}

.bg-error {
    background-color: #ffbaba;
    color: #8B0000;
}

.footer-text
{
    font-size: .8rem !important;
}

.img-hover
{
    cursor: pointer;
}

.text-large
{
    font-size: 1.5rem !important;
}

.text-larger {
    font-size: 3rem !important;
}

.subNavLinks a:hover 
{
    background-color: #8c2132 !important;
}

.text-area-h
{
    min-height: 173px !important;
}

