body, html, form {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

.bottom
{
    padding-bottom: 100px;
}

.bg-owl {
    background-color: #8c2132 !important;
}

.bg-error {
    background-color: #ffbaba;
    color: #8B0000;
}

.footer-text
{
    font-size: .8rem !important;
}

.text-large
{
    font-size: 1.5rem !important;
}


